@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0px;
	font-size: 20px;
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	background: linear-gradient(#FCCB90, #D57EEB);
}

input, button {
	font-family: 'Roboto', sans-serif;
	max-width: 300px;
	margin: 20px auto;
	text-align: center;
}

input {
 border: 0;
 border-bottom: 2px solid white;
 width: 100%;
 font-size: 30px;
 line-height: 35px;
 height: 70px;
 text-align: center;
 padding: 10px;
 background: transparent;
 color: rgba(255, 255, 255, 0.5);
}

input:focus {
 outline: 0;
 color: white;
}

input::placeholder {
 color: rgba(255, 255, 255, 0.5);
}

button {
 background: transparent;
 border: solid rgba(255, 255, 255, 0.5) 2px;
 height: 50px;
 width: 150px;
 border-radius: 25px;
 color: rgba(255, 255, 255, 0.5);
}

button:focus {
 outline: 0;
}

.active {
 border-color: white;
 color: white;
}

.center_wrapper {
	top: 0;
	left: 0;
	position: absolute;
	text-align: center;
	padding: 7%;
	width: 100%;
	height: 100%;
	justify-content:center;
	align-content:center;
	flex-direction:column;
	display: flex;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yp {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  background: #FA709A;
  color: #FEE140;
}